/*MOBILE FIRST*/
/*MAIN*/
/*SECTION SLIDE*/
.carousel-item img{
  height: 25vh;
}
.caption-mobile{
  background-color: #07a9df;
}
.caption-mobile a{
  color:white;
  font-size: 15px;
}
.carousel-caption a{
  color: white;
  font-size: 25px;
}
@media only screen and (min-width: 1024px){

  /*SECTION SLIDE*/

.carousel-item img{
    height: auto;
  }
.caption-mobile{
  display: none;
 }
 .carousel-caption{
  background-color:#07a9df;
  opacity: 0.7;
  width: 25%;
 }
}
